---
---

@import "{{ site.theme }}";

/* Customize logo/header image size */
.site-header img,
.header img {
  margin-bottom: 30px;
}
.logo img {
  width: 20px;  /* Adjust this value */
  height: 20px; /* Adjust this value */
  max-width: 20px;
}

/* For minimal theme specifically */
.wrapper img:first-child {
  width: 20px;
  height: 20px;
}